html, body
	min-height: 100%
	position: relative
body
	font-family: 'Montserrat', Arial, sans-serif
	padding-bottom: 20px
header
	background: #FFF url('../images/pattern.png') repeat
	height: 400px
	position: relative
	nav
		background: rgba(0, 0, 0, .5)
		width: 100%
		height: 20%	
		div 
			width: 80%
			margin: 0 auto		
		h1
			float: left
			padding: 25px
			color: #FFF
		ul
			float: right
					
		li
			float: left	
			a
				color: #FFF
				padding: 30px 20px
				display: block
				&:hover
					text-shadow: 0 0 5px #FFF
.profile
	position: relative
	width: 250px
	height: 200px
	margin: 5% auto
	border-radius: 30px
	border: 5px solid #FFF
	background: rgba(0, 0, 0, .2)

.avatar
	width: 100px
	height: 100px
	margin: 15px auto
	border-radius: 50%
	background: #FFF
	border: 3px solid #FFF
	transition: border 1s linear
	&:hover
		border: 3px solid #00FBF5
		cursor: pointer
	img
		width: 100%
		height: 100%
		border-radius: 50%		
.socialnav *
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
.socialnav
	width: 200px
	height: 50px
	margin: 0 auto
	ul
		width: 200px
		height: 50px
	li
		float: left
		width: 40px
		height: 40px
		margin: 0 5px
	img 
		width: 40px
		height: 40px
		background: #444
		border-radius: 40%
		transition-property: background, border-radius
		transition-duration: 1s
		transition-timing-function: linear
.mail:hover
	background: #CCC
	border-radius: 50%
.twitter:hover
	background: #4099FF
	border-radius: 50%
.github:hover
	background: #000
	border-radius: 50%
.googleplus:hover
	background: #D84B37	
	border-radius: 50%
.container
	max-width: 960px
	border-left: 1px dotted #777
	border-right: 1px dotted #777
	margin: 0 auto
	padding-top: 5%
	article, aside
		max-width: 700px
		width: 675px
		border: 1px dashed #CCC
		box-shadow: 0 0 5px #000
		background: #FFF
		margin: 2% auto
		p, h2, dl
			font-size: 1em
			width: 80%
			margin: 5% auto
			line-height: 2
footer
	height: 20px
	position: absolute
	bottom: 0
	left: 0
	right: 0
	background: #00615F
	color: #FFF