html, body
	min-height: 100%
	position: relative	
body
	font-family: 'Montserrat', Arial, sans-serif
	padding-bottom: 50px
header
	background: #FFF url('../images/bg2.jpg') no-repeat
	background-size: 100% 100%
	height: 400px
	position: relative
	margin-bottom: 100px
	nav
		background: rgba(54, 54, 54, 0.5)
		width: 100%
		height: 20%	
		margin-bottom: 50px
		div 
			width: 80%
			margin: 0 auto	
			position: relative
		h1
			float: left
			padding: 25px
			color: #FFF
		#mainnav
			float: right
					
		li
			float: left	
			a
				color: #FFF
				padding: 32px 20px
				display: block
				&:hover
					text-shadow: 0 0 5px #FFF
#toggle
	float: right
	padding: 25px
	font-size: 30px
	display: none
	color: #FFF
	cursor: pointer
	&:hover
		text-shadow: 0 0 5px #FFF
.profile
	width: 250px
	height: 200px
	margin: auto
	border-radius: 30px
	border: 5px solid #FFF
	background: rgba(54, 54, 54, .2)
.avatar
	width: 100px
	height: 100px
	margin: 15px auto
	border-radius: 50%
	background: #FFF
	border: 3px solid #FFF
	transition: box-shadow 1s linear
	&:hover
		box-shadow: 0 0 5px #FFF
		cursor: pointer
	img
		width: 100%
		height: 100%
		border-radius: 50%		
.socialnav
	width: 200px
	height: 50px
	margin: 0 auto
	ul
		width: 200px
		height: 50px
	li
		float: left
		width: 40px
		height: 40px
		margin: 0 5px
	img 
		width: 40px
		height: 40px
		background: #444
		border-radius: 50%
		transition: background 1s linear
.mail:hover
	background: #CCC
.twitter:hover
	background: #4099FF
	border-radius: 50%
.github:hover
	background: #000
	border-radius: 50%
.googleplus:hover
	background: #D84B37	
	border-radius: 50%
.container
	max-width: 960px
	width: 100%
	margin: 0 auto
	padding: 0 20px
	line-height: 2	
	article, aside
		border: 1px solid #CCC
		box-shadow: 0 0 5px #000
		padding: 20px
		background: #FFF
	article
		width: 60%
		float: left
		margin-bottom: 20px
		section
			border: 1px dashed #CCC
			box-shadow: 0 0 5px #000
			padding: 20px
		section:first-child
			margin-bottom: 20px
	aside
		width: 35%
		float: right
footer
	width: 100%
	position: absolute
	bottom: 0
	left: 0
	right: 0
	background: #333
	color: #FFF


